*{
    margin:0;
    padding:0;
}


a{
  text-decoration: none;
  cursor: pointer;
}


 body{
    font-family: 'Lato', sans-serif;
    font-size: 1.25vw;
 }



button{
    cursor:pointer;
}


#navBar{
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 7.5%;
    display:flex;
    justify-content:space-between;
    background:rgb(68, 68, 138);
}


main{
  position:absolute;
  top:10%;
  left:0;
  height: 92.5%;
  width: 100%;
}

#navLink{

  position: absolute;
  height: 100%;
  width: 100%;
}

#navBar a{
   color: white;
}


#navbarLogo{

  height: 90%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#navbarName{

  color:white;
}

#navbarLogo img{

  height: 50%;
  width: auto;

}


#navLinkLeft{

  height: 100%;
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;

}


#navLinkRight{

  height: 100%;
  width: 25%;
  display: flex;
  justify-content: space-around;
  align-items: center;

}


#homeLeft{

     position: absolute;
     top: 35%;
     left : 10%;
     height : 40%;
     width: 35%;
     display:flex;
     flex-direction: column;
     justify-content: space-around;
     align-items: flex-start;
     font-size: 1.5vw;

}


#homeLeftA{
  height: 30%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}



#homeLeftAA{

  display: flex;
  justify-content: flex-start;
  align-items: center;
  width:100%;
  
}

#homeLeftAB{

  display: flex;
  justify-content: flex-start;
  align-items: center;
  width:100%;

}

#homeLeftB{
  height: 30%;
  width: 80%;
  display:flex;
  justify-content: flex-start;
  align-items: center;
}



#homeLeftB button{
  
  color: white;
  background:rgb(68, 68, 138,0.8);
  border-radius: 5px;
  border:none;
  height: 3.5vh;
  width: 8vw;
}


#homeRight{
  position: absolute;
  top: 15%;
  right: 10%;
  height: 40%;
  width: 30%;
  display:flex;
  justify-content: center;
  align-items: center;
}

#homeImg{

  height: 100%;
  width: auto;
}

#sectionContainer{
  position: absolute;
  top: 25%;
  left: 5%;
  height: 40%;
  width: 90%;
  display: flex;
  justify-content: space-around;
}

.sectionBlock{
    height: 100%;
    width: 17.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}



.sectionBlockA
{
  height: 80%;
  width: 100%;
}


.sectionBlockB
{
  height: 20%;
  width: 100%;
  background:rgb(68, 68, 138);
  display: flex;
  align-items: center;
  justify-content: center;
}


.sectionBlockB a{

  color: white;
  
}




#subSectionContainer{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}



.subSectionContainerA{
  margin-top:2.5%;
  height: 20vh;
  width: 70%;
  padding-left: 2.5%;
  background:rgb(68, 68, 138);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.75vw;
}

.subSectionContainerA a{
  color: white;
}


.subSectionContainerAA{
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.subSectionContainerAB{
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 5%;
  }


  .subSectionContainerAB img{

    height: 40%;
    width: auto;
  
  
   }


.cardImgContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}


.cardImg{

  height: 60%;
  width: auto;
}



.bookLinkContainer{
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}



.bookLinkContainer a{

  height: 100%;
  width: 100%;

}


.notebookImg{

  height: 40%;
  width: auto;
}



#browseBtn{

  width: 15vw;
  height: 10vh;
}





/*

mobile

*/




@media all and (max-width: 800px){

  main{
    font-size: 5vw;
  }

  .algoImg{

    width: 85%;
    height: auto;
  }
  

  #navLinkRight {
    width: 50%;
    font-size: 2.5vw;
}

  #homeLeft {
    position: absolute;
    top: 45%;
    left: 10%;
    height: 40%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    font-size: 3vw;
  }


  #homeLeftA{
      position:absolute;
      top:50%;

  }

  
  #homeLeftB{
    position:absolute;
    top:70%;

}

#homeRight {
   position: absolute;
   top: 15%;
   right: 35%;
   height: 40%;
   width: 30%;
   display: flex;
   justify-content: center;
   align-items: center;
 }


 .cardImg{
     
   height: 30%;
   width: auto;

 }


 .sectionBlockB a{
   font-size: 2.5vw;

 }


 #sectionContainer {
  position: absolute;
  top: 20%;
 }
 
 #navLink{
  width:20%;
 }

 #navLinkLeft{

  margin-left: 5%;
  font-size: 3vw;

 }

 #navbarName {
    margin-left: 17.5%;
 }

 

#homeLeftB button{

  width: 20vw;
}


.subSectionContainerA{

  font-size: 5vw;
}



}